## For Loops
1. Printing Numbers: Write a loop that prints the numbers from 1 to 10.
2. Printing Even Numbers: Write a loop that prints the even numbers from 1 to 20.
3. Counting Sum: Write a loop that calculates the sum of all numbers from 1 to 100.
4. Counting Multiples: Write a loop that prints all multiples of 5 from 1 to 50.
5. Counting Backwards: Write a loop that prints the numbers from 10 to 1 in descending

In [1]:
#1. Print numbers 1-10 -- For Loop
for i in range(1,11):
    print(i)

# Alternative: For-each
list = list(range(1,11))
for i in list:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [3]:
#2. Print even numbers in 1-20
for i in range(2,21,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [42]:
#3. Sum of all numbers from 1 to 100
sum = 0
for i in range(1,101):
    sum += i
print(sum)

5050

In [26]:
#4. Print multiples of 5 from 1 to 50
for i in range(1,51):
    if i % 5 == 0:
        print(i)
        
#alternative way
for i in range(5,51,5):
    print(i)

5
10
15
20
25
30
35
40
45
50
5
10
15
20
25
30
35
40
45
50

In [25]:
#5. 10 to 1 in descending
for i in reversed(range(1,11)):
    print(i)

10
9
8
7
6
5
4
3
2
1

## Lists and For-each Loops
1. Printing Names: Create a list of 5 names, then write a loop that prints each name on a separate line.2. 
Printing Length: Create a list of 5 words, then write a loop that prints each word along with its length
3. Counting Vowels: Create a list of 5 words, then write a loop that counts and prints the number of vowels in each word
4. Finding Maximum: Create a list of 5 numbers, then write a loop that finds and prints the largest number in the l.
5. Reversing Strings: Create a list of 5 strings, then write a loop that prints each string in reverseerse.

In [28]:
#1. Printing names
names = ("Sarah", "Bob", "Ben", "Sam", "Kim")
for i in names:
    print(i)

Sarah
Bob
Ben
Sam
Kim

In [29]:
#2. Printing word and length 
words = ("hi", "hoi", "aloha", "hello", "hola")
for i in words:
    print(i, len(i))

hi 2
hoi 3
aloha 5
hello 5
hola 4

In [44]:
#3. Counting vowels  counts and prints the number of vowels in each word
words = ("R", "Python", "Java", "Ruby", "SQL") 
vowels = 0
for i in words:
    for z in i:
        if z in "aeiou":
            vowels += 1
    print(i, vowels)

R 0
Python 1
Java 3
Ruby 4
SQL 4

In [40]:
#4. Maximum: Find and print the largest number
numbers = [102,30,48,87,204]
print(max(numbers))

204

In [33]:
#5. Prints list in Reverse
list1 = ["Analytics", "Data", "love", "I"]
for i in reversed(list1):
    print(i)

I
love
Data
Analytics

## Advanced Loops

In [45]:
#For every number from 1 to 10...
for i in range(1, 11):
    #For every number from 1 to 10...
    for j in range(1, 11):
        #Print the product of the two numbers.
        print(i, "times", j, "equals", i*j)
        
#Notice that the loop on line 20 is controlled by the loop on line 18.
#So, each iteration of the loop on line 18, the loop on line 20 runs
#10 times.

1 times 1 equals 1
1 times 2 equals 2
1 times 3 equals 3
1 times 4 equals 4
1 times 5 equals 5
1 times 6 equals 6
1 times 7 equals 7
1 times 8 equals 8
1 times 9 equals 9
1 times 10 equals 10
2 times 1 equals 2
2 times 2 equals 4
2 times 3 equals 6
2 times 4 equals 8
2 times 5 equals 10
2 times 6 equals 12
2 times 7 equals 14
2 times 8 equals 16
2 times 9 equals 18
2 times 10 equals 20
3 times 1 equals 3
3 times 2 equals 6
3 times 3 equals 9
3 times 4 equals 12
3 times 5 equals 15
3 times 6 equals 18
3 times 7 equals 21
3 times 8 equals 24
3 times 9 equals 27
3 times 10 equals 30
4 times 1 equals 4
4 times 2 equals 8
4 times 3 equals 12
4 times 4 equals 16
4 times 5 equals 20
4 times 6 equals 24
4 times 7 equals 28
4 times 8 equals 32
4 times 9 equals 36
4 times 10 equals 40
5 times 1 equals 5
5 times 2 equals 10
5 times 3 equals 15
5 times 4 equals 20
5 times 5 equals 25
5 times 6 equals 30
5 times 7 equals 35
5 times 8 equals 40
5 times 9 equals 45
5 times 10 equals 50
6 times 1 equals 6
6 times 2 equals 12
6 times 3 equals 18
6 times 4 equals 24
6 times 5 equals 30
6 times 6 equals 36
6 times 7 equals 42
6 times 8 equals 48
6 times 9 equals 54
6 times 10 equals 60
7 times 1 equals 7
7 times 2 equals 14
7 times 3 equals 21
7 times 4 equals 28
7 times 5 equals 35
7 times 6 equals 42
7 times 7 equals 49
7 times 8 equals 56
7 times 9 equals 63
7 times 10 equals 70
8 times 1 equals 8
8 times 2 equals 16
8 times 3 equals 24
8 times 4 equals 32
8 times 5 equals 40
8 times 6 equals 48
8 times 7 equals 56
8 times 8 equals 64
8 times 9 equals 72
8 times 10 equals 80
9 times 1 equals 9
9 times 2 equals 18
9 times 3 equals 27
9 times 4 equals 36
9 times 5 equals 45
9 times 6 equals 54
9 times 7 equals 63
9 times 8 equals 72
9 times 9 equals 81
9 times 10 equals 90
10 times 1 equals 10
10 times 2 equals 20
10 times 3 equals 30
10 times 4 equals 40
10 times 5 equals 50
10 times 6 equals 60
10 times 7 equals 70
10 times 8 equals 80
10 times 9 equals 90
10 times 10 equals 100

In [ ]:
# Outer loop iterating over numbers 1 through 5
for i in range(1, 6):
    # Inner loop iterating over numbers 0 through the current value of i
    for j in range(0, i):
        # Printing the current value of j followed by a space, without moving to the next line
        print(j, end=" ")
    # Printing an empty string to move to the next line after each inner loop iteration
    print("")

In [ ]:
# identical output as above but this one uses a while loop 
for i in range(1, 6):  # Outer loop iterating over numbers 1 through 5
     j = 0              # Initializing j to 0 before entering the inner loop
     while j < i:       # Inner loop condition: loop until j is less than i
         print(j, end=" ")  # Printing the current value of j followed by a space, without moving to the next line
         j += 1         # Incrementing j by 1 in each iteration of the inner loop
     print("")         # Printing an empty string to move to the next line after each inner loop iteration

Looped!
Looped!
Looped!

In [53]:
mystery_int = -7
#find sum of all number 0-mystery inclusive

sum = 0
for i in range(0, mystery_int+1):
    sum += i
    if i < 0:
        sum -= i
print(sum)

0